TELEGRAM_BOT_TOKEN=your_bot_token
OWNER_URL=https://t.me/SANATANI_BACCHA
SUPPORT_URL=https://t.me/HARRYASHU
STYLE_URL=https://t.me/TG_BIO_STYLE
FORCE_CHANNEL=TG_BIO_STYLE
PROMO_HOURS=1
DATA_PATH=data/chats.json
